header {
    position: sticky;
    top: 0;
    left: 0;
}

.header_container {
    padding: 0px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
}

.header_left {
    display: flex;
}

.header_left .logo {
    padding-top: 27px;
    padding-right: 50px;
}

.header_left .logo img {
    width: 180px;
    height: auto;
}

.header_left .logo strong {
    display: block;
    text-align: right;
    font-size: 12px;
    font-weight: 600;
    margin-top: 7px;
    color: white;
}

.header_left nav ul {
    display: flex;
}

.header_left nav ul .nav_item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header_left nav ul .nav_item .nav_link {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 38px 12px;
    font-size: 11px;
    color: #ccc;
    text-transform: uppercase;
}

.header_left nav ul .nav_item .nav_link:hover {
    color: white;
}

.header_left nav ul .nav_item .fa-caret-down {
    color: rgb(204, 204, 204);
    font-size: 11px;
    font-weight: 900;
}

.header_left nav ul .nav_item .nav_link:hover .fa-caret-down {
    color: white;
}

.header_left nav ul .nav_item .dropdown_menu {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 240px !important;
    background-color: rgba(1, 1, 1, 0.85);
    z-index: 100;
    left: 2px;
    top: 70%;
}

.header_left nav ul .nav_item .dropdown_menu li a {
    display: block;
    padding: 12px 14px;
    color: rgb(170, 170, 170);
    font-size: 11px;
}

.header_left nav ul .nav_item .dropdown_menu li a.language_selector_dropdown_link {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header_left nav ul .nav_item .dropdown_menu li a.language_selector_dropdown_link img {
    width: 16px;
    height: 11px;
}

.header_left nav ul .nav_item .dropdown_menu li span {
    height: 1px;
    display: block;
    width: 100%;
    margin: 0px;
    opacity: 0.2;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0) 100%);
}

.header_left nav ul .nav_item:hover .dropdown_menu {
    display: flex;
}

.header_left nav ul .nav_item .dropdown_menu li:hover a {
    color: white;
}

.header_left nav ul .nav_item .dropdown_menu li:hover span {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 100%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
}

.header_right {
    display: flex;
}

.header_right .account_list {
    display: flex;
    padding-top: 29px;
    padding-bottom: 12px;
    gap: 5px;
    position: relative;
}

.header_right .account_list .account_item {
    padding-top: 5px;
}

.header_right .account_list .account_item.account_item_divice span {
    color: #777;
}

.header_right .account_list .account_item .account_link {
    display: block;
    padding: 5px 7px;
    text-transform: uppercase;
    font-size: 11px;
    color: #ccc;
}

.header_right .account_list .account_item .account_link:hover {
    color: white;
}

.header_right .account_dropdown {
    display: none;
    position: absolute;
    padding: 12px 12px 24px;
    width: 270px;
    top: 70%;
    left: -12px;
    background-color: rgba(1, 1, 1, 0.85);
    box-shadow: 0px 0px 24px #000;
}

.header_right .account_dropdown:hover {
    display: block;
}

.account_dropdown .account_dropdown_item {
    padding: 0px;
}

.account_dropdown .account_dropdown_item .break {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.account_dropdown .account_dropdown_item .break_padding {
    padding: 22px 0px;
    display: flex;
    flex-direction: column;
}

.account_dropdown .account_dropdown_item .break_padding:first-child {
    flex-direction: row;
    justify-content: space-between;
}

.account_dropdown .account_dropdown_item .account_dropdown_link_images {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account_dropdown_link_images .account_image {
    display: block;
    width: 130px;
    max-width: 100%;
    height: auto;
}

.account_dropdown_link_images .account_badges {
    display: flex;
    gap: 7px;
}

.account_dropdown_link_images .account_badges img {
    display: block;
    width: 22px;
    height: 22px;
}

.header_right .worldwide_logo {
    display: block;
    padding: 26px 10px 0px 10px;
}

.header_right .worldwide_logo .worldwide_logo_img {
    width: 69px;
    height: 34px;
}

.header_right .account_list:hover .account_dropdown {
    display: block;
}

.account_dropdown_item:nth-child(2) .break_padding {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.account_dropdown_item:nth-child(2) .account_dropdown_link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: rgb(148, 242, 255);
    height: 37px;
}

.account_dropdown_item:nth-child(2) .account_dropdown_link span:first-child {
    color: black;
    font-size: 11px;
    font-weight: 900;
}

.account_dropdown_item:nth-child(2) .account_dropdown_link span:last-child {
    color: black;
    font-size: 11px;
}

.account_dropdown_item:nth-child(2) .account_dropdown_link:hover {
    background-color: white;
}

.account_dropdown_item:nth-child(2) .account_dropdown_link.update_link {
    background-color: rgb(68, 68, 68);
    margin: 0;
}

.account_dropdown_item:nth-child(2) .account_dropdown_link.update_link span {
    color: white;
}

.account_dropdown_item:nth-child(2) .account_dropdown_link.update_link:hover {
    background-color: white;
}

.account_dropdown_item:nth-child(2) .account_dropdown_link.update_link:hover span {
    color: black;
}

.account_dropdown_item:nth-child(3) span {
    color: rgb(204, 204, 204);
    text-decoration: underline;
    text-decoration-color: rgb(204, 204, 204);
    font-size: 12px;
}

.account_dropdown_item:nth-child(3):hover span {
    color: white;
    text-decoration-color: color;
}

/* Scroll Event 발생한 경우 */
.header_left.scrollAvtive .logo {
    padding-top: 15px;
    padding-right: 25px;
}

.header_left.scrollAvtive .logo img {
    width: 131px;
    height: auto;
}

.header_left.scrollAvtive .logo strong {
    display: none;
}

.header_left.scrollAvtive nav ul .nav_item .nav_link {
    padding: 16px 14px;
    font-size: 10px;
}

.header_right.scrollAvtive .account_list {
    padding: 12px 0px;
}

.header_right.scrollAvtive .account_list .account_item {
    padding-top: 5px;
}

.header_right.scrollAvtive .account_dropdown {
    top: 90%;
}

.header_right.scrollAvtive .worldwide_logo {
    display: block;
    padding: 7px 10px 0px 10px;
}

@media only screen and (max-width: 1390px) {
    .header_container {
        padding: 0px 15px;
    }

    .header_left .logo {
        padding-top: 15px;
        padding-right: 20px;
    }

    .header_left .logo img {
        width: 135px;
        height: auto;
    }

    .header_left .logo strong {
        font-size: 10px;
    }

    .header_left nav ul {
        display: none;
    }

    .header_right .account_list {
        padding-top: 19px;
        padding-right: 12px;
    }

    .header_right .worldwide_logo {
        padding: 0;
        padding-top: 17px;
    }

    .header_right .hamburger_menu {
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin: 23px 10px 0px 15px;
        cursor: pointer;
    }

    .header_right .hamburger_menu span {
        width: 30px;
        height: 2px;
        background-color: white;
    }

    /* Scroll Event 발생한 경우 */
    .header_left.scrollAvtive .logo {
        padding-top: 15px;
        padding-right: 25px;
    }

    .header_right.scrollAvtive .account_list {
        padding: 9px 12px 12px 0px;
    }

    .header_right.scrollAvtive .account_list .account_item {
        padding-top: 5px;
    }

    .header_right.scrollAvtive .hamburger_menu {
        margin: 14px 10px 0px 15px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 620px) {
    .header_left .logo img {
        width: 115px;
        height: auto;
    }

    .header_left .logo strong {
        margin-top: 7px;
        font-size: 10px;
    }

    .header_right .account_list {
        display: none;
    }

    .header_right .worldwide_logo {
        padding: 0;
        padding-top: 20px;
    }

    .header_right .worldwide_logo .worldwide_logo_img {
        width: 58px;
        height: auto;
    }

    /* Scroll Event 발생한 경우 */
    .header_left.scrollAvtive .logo {
        padding-top: 15px;
        padding-right: 20px;
    }

    .header_left.scrollAvtive .logo img {
        width: 115px;
    }

    .header_right.scrollAvtive .worldwide_logo {
        padding: 0px;
        padding-top: 12px;
    }
}
