body {
    background-image: url('../images/body/korea-bg-2018-1.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* background-size: contain; 을 사용하여 이미지 크기를 조정할 수도 있음 */
    background-position: center center;
    max-width: 100%;
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.body_darkBg{
    background-color: rgba(0, 0, 0, 0.6); 
    min-width: 100%; min-height: 100%;
    width : 100%; min-height: 100vh;
}
