
.accent {
    position : fixed;
    top : 5rem;
}

.ticket {
    position : fixed;
    bottom : 0.75rem; 
    right : 0.75rem;
    font-size : 0.875rem;
    font-weight: 700;
    color : white;
    background-color: rgb(34, 34, 34);
    padding : 1.125rem 1.5rem;
}

.ticket:hover {
    background-color: white;
    color :  rgb(34, 34, 34);
} 

.ticket:hover span {
    color : rgb(34, 34, 34); 
}

@media only screen and (max-width: 67.5625rem) {
    .accent {
        display: none;
    }

    .ticket {
        display: flex; 
        justify-content: center;
        align-items: center;
        gap : 0.25rem;
        padding : 1.5rem 0.75rem;
        bottom : 0;
        right : 0;
        left : 0;
    }
    
    .ticket:hover {
        background-color: white;
        color :  rgb(34, 34, 34);
    } 
    
    .ticket:hover span {
        color : rgb(34, 34, 34); 
    }
}
